<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
    <li class="language-switcher">
      {% assign default_lang = site.languages | first %}
      {% for lang in site.languages %}
        {% if lang == site.lang %}
          <b>{{ lang | upcase }}</b>
        {% else %}
          {% if lang == default_lang %}
            {% capture lang_url %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
          {% else %}
            {% capture lang_url %}{{ site.baseurl_root }}/{{ lang }}{{ page.url }}{% endcapture %}
          {% endif %}
          <a href="{{ lang_url }}">{{ lang | upcase }}</a>
        {% endif %}
        {% unless forloop.last %} | {% endunless %}
      {% endfor %}
    </li>
  </ul>
</div>
