<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
    <li class="language-switcher">
      {% for lang in site.languages %}
        {% if lang == site.lang %}
          <b>{{ lang | upcase }}</b>
        {% else %}
          {% assign lang_url = page.url | replace: site.lang, lang %}
          <a href="{{ lang_url | relative_url }}">{{ lang | upcase }}</a>
        {% endif %}
        {% unless forloop.last %} | {% endunless %}
      {% endfor %}
    </li>
  </ul>
</div>
