<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    {% assign is_active = false %}
    {% if item.url == page.url %}
      {% assign is_active = true %}
    {% elsif item.url == '/programa/' and page.url contains '/programa-eu' %}
      {% assign is_active = true %}
    {% endif %}
    <li class="{% if is_active %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
