.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        > a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
      &.language-switcher {
        background-color: $white-offset;
        border-radius: 4px;
        padding: 5px 10px;
        margin-left: 10px;
        a {
          color: $primary;
          padding: 2px 5px;
          &:hover {
            text-decoration: underline;
          }
        }
        b {
          color: $primary-dark;
          padding: 2px 5px;
        }
      }
    }
  }
}
