---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_news | default: 6 %}
      {% for news_item in site.news limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="news news-summary">
          <div class="news-content">
            <h2 class="news-title">
              <a href="{{ news_item.url | relative_url }}">{{ news_item.title }}</a>
            </h2>
            <p>{{ news_item.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "noticias" | relative_url }}">{% if site.lang == "es" %}Ver Todas las Noticias{% else %}Albiste guztiak ikusi{% endif %}</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {% if site.lang == "es" %}
      <h1>Puntos principales de nuestro programa</h1>
      <h2>Fuerza común: coordinación con el comité de Donosti</h2>
      {% else %}
      <h1>Gure programaren puntu nagusiak</h1>
      <h2>Indar bateratua: Donostiako batzordearekin koordinazioa</h2>
      {% endif %}
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

      {% if site.lang == "es" %}
      <h2>Bilbao: nuestra sede, nuestros derechos</h2>
      {% else %}
      <h2>Bilbao: gure egoitza, gure eskubideak</h2>
      {% endif %}
      {% for feature in site.data.features-bilbo %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}
      <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "programa" | relative_url }}">{% if site.lang == "es" %}Ver Programa Completo{% else %}Programa osoa ikusi{% endif %}</a>
      </div>
    </div>
    </div>
  </div>
</div>
{% endif %}
