---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <div class="title-container">
                    {% if page.title contains '.' %}
                    <h1 class="title">{% t page.title %}</h1>
                    {% else %}
                    <h1 class="title">{{ page.title }}</h1>
                    {% endif %}
                    {% if page.pdf-file %}
                    {% if page.pdf-file contains '.' %}
                    {% assign pdf_path = page.pdf-file | t %}
                    {% else %}
                    {% assign pdf_path = page.pdf-file %}
                    {% endif %}
                    <align left><a href="{{ site.baseurl_root }}{{ pdf_path }}" target="_blank"><img width="56px" src="{{ site.baseurl_root }}/images/features/Icon_pdf_file.svg"></a></align>
                    {% endif %}
                    </div>
                    <div class="content">{{content}}</div>
                    {% if page.pdf-file %}
                    {% if page.pdf-file contains '.' %}
                    {% assign pdf_path = page.pdf-file | t %}
                    {% else %}
                    {% assign pdf_path = page.pdf-file %}
                    {% endif %}
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <a class="button button-primary" href="{{ site.baseurl_root }}{{ pdf_path }}" target="_blank">{% t buttons.view_pdf %}</a>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
</div>