---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <div class="title-container">
                    <h1 class="title">{{page.title}}</h1> 
                    {% if page.pdf-file %}
                    <align left><a href="{{ page.pdf-file | relative_url}}" target="_blank"><img width="56px" src="/images/features/Icon_pdf_file.svg"></a></align>
                    {% endif %}
                    </div>
                    <div class="content">{{content}}</div>
                    {% if page.pdf-file %}
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <a class="button button-primary" href="{{ page.pdf-file | relative_url}}" target="_blank">Ver Programa en PDF</a>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
</div>